body {
	font-family: 'Cinzel', serif;
	background-image: url(../images/background.jpg);
	color: white;
}

.jumbotron {
	background-color: transparent !important;
	color: #d8d1cd;
}

#header {
	text-align: center;
}

#start {
	align-items: center;
	font-size: 24px;
	background-color: #8B0000;
};

